@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>ASP.NET Core MVC with RDLC Reports</h3>
</div>

<a id="btnPrint" class="btn btn-primary" href="../Home/Print" target="_blank">Print</a>
