@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>ASP.NET Core MVC with RDLC Reports</h3>
</div>

<a id="btnPrint" class="btn btn-danger" href="../Home/PDF" target="_blank">PDF</a>
<a id="btnPrint" class="btn btn-success" href="../Home/Excel" target="_blank">Excel</a>
<a id="btnPrint" class="btn btn-primary" href="../Home/Word" target="_blank">Word</a>
